<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/../style.css">
	</head>
	<body>
		<header>
			<title>Just Dino things</title>
		</header>
		<nav>
			<ul>
				<li><a href="/dinosaurs/">Dino Home</a></li>
				<!-- <li><a href="/dinosaurs/show">Dino Show</a></li> -->
				<li><a href="/dinosaurs/new">Dino Add</a></li>
				<!-- <li><a href="/dinosaurs/edit">Dino Edit</a></li> -->
				<li><a href="/cryptids/">Cryptids Home</a></li>
				<!-- <li><a href="/cryptids/show">Dino Show</a></li> -->
				<li><a href="/cryptids/new">Cryptids Add</a></li>
				<!-- <li><a href="/cryptids/edit">Cryptids Edit</a></li> -->
			</ul>

		</nav>
		<main>
			<%- body %>
		</main>

	</body>
</html>