<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/../style.css">
	</head>
	<body>
		<header>
			<title>Just Dino things</title>
		</header>
		<nav>
			<ul>
				<li><a href="/dinosaurs/">Home</a></li>
				<li><a href="/dinosaurs/show">show Dinos</a></li>
				<li><a href="/dinosaurs/new">New Dino</a></li>
				<li><a href="/dinosaurs/edit">Edit Dino</a></li>
			</ul>
		</nav>
		<main>
			<%- body %>
		</main>

	</body>
</html>