<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="../style.css">
	</head>
	<body>
		<header>
			<title>Just Dino things</title>
		</header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">All Dinos</a></li>
				<li><a href="#">New Dino</a></li>
			</ul>
		</nav>
		<main>
			<%- body %>
		</main>

	</body>
</html>