
textarea, select, input, button { 
	outline: none; 
}
body {
	background-color: #ddd;
	height:98vh;
	padding: 0px;
	width:100vw;
	margin: 0;

}

ul {
	margin: 0;
}

nav { 
	width: 100vw;
	margin: 0; 
	background-color: #333;

}

nav a {
	color: white;
}

ul {
	margin: 0;
}

nav ul li {
	display: inline;
	margin: 1em 1em 1em 0;
	padding: 0;
	line-height: 2em;
}

main {
	padding: 0 0 0 1em;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 98vw;
	margin:0;
	
}
.cryptid {
	margin: 1px;
	width: 20em;
}
.cryptid img {
	max-width: 19em;
	margin: .2em 0 1em 0;
}

a {
	color: #D00;
}

.showCryptid {
	max-width: 98vw;
}