<h1> Edit Cryptid:</h1>

<form method="POST" action="/cryptids">
	<label for="cryptid-name">Name:</label>
	<input type="text" name="name" id="cryptid-name" value="<%= myCryptid.name %>">

	<label for="cryptid-type">Blurry Photo URL:</label>
	<input type="text" name="img_url" id="cryptid-type">

	<input type="submit" value="Add that cryptid!">
</form>